@page "/chat"

<body style="background-color: #1e293b; color:white;">
    <div class="d-flex align-items-end justify-content-center" style="width:80vw; height:92vh;">
        <div class="d-flex flex-column justify-content-center w-100">
            <div class="d-flex align-middle justify-content-end">
                <h1>Testando Chat</h1>
            </div>
        <input type="text" class="mb-4 p-1 form-control" />
        </div>
    </div>
</body>